html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#sapper {
  width: 100%;
  height: 100%;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
}

input[type=email] {
  width: 100%;
  padding: 5px 3px 5px 3px;
  font-size: 14px;
  line-height: 1.2;
}

button {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}

button:hover {
	cursor: pointer;
	color: #000;
	background-color: #00aeef;
}

.laodmore {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}


.header {
  width: 100%;
	background-size: cover;
  background-repeat: no-repeat;
	background-image: -webkit-linear-gradient(top,rgba(255,255,255, 0) 70%, rgba(255,255,255,1) 100%), url('../img/background.png');

  display: table;
  padding: 20px;
}

.main {
  margin-top: 20px;
}

.logo {
	height: 50px;
}

.social {
	height: 24px;
  float: right;
  margin: 3px;
}

.feature {
	display: flex;
	flex-direction: row;
	margin-top: 5%;
  color: white;
  width: 100%;
  min-height: 100%;
}

.description {
  width: 50%;
}

.headline {
	font-size: 54px;
	font-weight: bold;
}

.unterline {
	font-size: 18px;
}

.featureproduct {
  width: 50%;
  height: 50%;
	margin-left: 20%;
}

.productlist {
  margin-top: 50px;
  margin-bottom: 50px;
}

.product {
    display: flex;
    flex-flow: row;
    min-height: 250px;
    margin-top: 75px;
    margin-bottom: 50px;
}

.image {
    width: 250px;
    height: 250px;
}

.props {
    width: 100%;
    margin-left: 50px;
}

.name {
    height: 30px;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.props .description {
    min-height: 150px;
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
}

.final {
    display: flex;
    flex-flow: row;
}

.right {
    margin: auto;
    margin-right: 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.old {
    text-decoration: line-through;
}

.divider {
    position: relative;
    margin-top: 50px;
    height: 1px;
}

.divider:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.divider:after
{
    content: "";
    position: absolute;
    z-index: 1;
    top: -6px;
    left: calc(50% - 7px);
    width: 14px;
    height: 12px;
    background-color: white;
    border-left: 1px solid rgb(48,49,51);
    border-right: 1px solid rgb(48,49,51);
}


.footer {
  height: 50px;
  width: 100%;
  background-color: #00aeef;
  padding-top: 25px;
}


.copyright {
  font-size: 18px;
  color: white;
  float: left;
}

.footer .partnerlink {
  color: white;
  float: left;
  font-size: 18px;
  padding-left: 10%;
}

.footer a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
  font-size: 18px;
  float: right;
  padding-left: 30px;
}

.footer a:hover {
  cursor: pointer;
  font-weight: bold;
}

.impressum .field {
  margin: 50px;
}

.legal .field {
  margin: 50px;
}

.abmelden {
  width: 70%;
  margin-left: 15%;
  margin-top: 150px;
  margin-bottom: 150px;
}

.cart {
  height: 2em;
  margin-bottom: -0.5em;
  margin-right: 1em;
}

.by {
  font-size: 1em;
}


.digichoice {
  display: inline-flex;
  color: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.digichoice-label {
  display: flex;
  height: 40px;
  line-height: 22px;
  background-color: #0F1111;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}

.digichoice-secondtext {
  color: #0895ca;
}

.digichoice-triangle {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 40px solid;
  color: #0F1111;
  float: left!important;
}